{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    /* div {
        border: solid 1px black;
    } */

    .list-youtuber img {
        object-fit: cover;
        border-radius: 5%;
        width: 70px;
        height: 70px;
    }


    .list-youtuber {
        display: flex;
    }

    .list-youtuber-name {
        font-size: large;
        font-weight: bold;
    }

    .list-youtuber-dsc {
        font-size: smaller;
    }

    .list-youtuber-tags {
        font-size: small;
        color: grey;
    }

    .list-youtuber-content {
        align-items: center;
    }

    .first-category {
        display: flex;
    }

    .category-title {
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .profile {
        text-align: center;
    }

    .profile img {
        object-fit: cover;
        border-radius: 5%;
        width: 80px;
        height: 80px;
    }

    .youtuber-name {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }

    .youtuber-tags {
        font-size: 11px;
        color: grey;
    }

    .list-title {
        font-weight: bold;
    }

    .list-title-name { 
        font-size: 20px;
    }

    .list-sub-name { 
        font-size: 13px;
    }

    .youtuber-list {
        background-color: #e0e0e0;
        border-radius: 2%;
    }

    .flex-box {
        display: flex;
    }
</style>
<div class="container">
    <!-- 유투버 카테고리 -->
    <div>
        <div class="category-title mx-3 my-2">
            LATEST YOUTUBER
        </div>
        <div class="first-category">
            {% for youtuber in youtubers %}

            <a href="{% url 'youtuber:youtuber' youtuber.id %}">
                <div class="mx-2 my-2">
                    <div class="profile">
                        <img src="{{ youtuber.profile_image.url }}" width="68px" height="68px">
                    </div>
                    <div class="youtuber-name">
                        {{ youtuber.name }}
                    </div>
                    <div class="youtuber-tags">
                        #{{ youtuber.tag.all|join:" #" }}
                    </div>
                </div>
            </a>
            {% endfor %}

        </div>
    </div>

    <!-- 유투버 리스트  -->
    {% for list in youtuber_lists %}
    <div class="youtuber-list py-1 mx-3 my-2">
        <div class="list-title flex-box" >
            
            <div class="list-title mx-3 my-2 col-9">
                <div class="list-sub-name">{{ list.sub_title }}</div>
                <div class="list-title-name">{{ list.main_title }}</div>
            </div>
            {% if user.is_authenticated %}
            <div class="col-1"><a href="#"><img class="add-or-remove"
                src="{% static "youtuber/img/bookmark.svg" %}" alt="bookmark.png" width="29px" height="41px"></a>
            </div>
            {% endif %}
        </div>

        {% for youtuber in list.youtubers.all %}
        <a href="{% url 'youtuber:youtuber' youtuber.id %}">
            <div class="list-youtuber my-3 mx-4">
                <div class="mx-2">
                    <img src="{{ youtuber.profile_image.url }}" alt="{{youtuber.name}}프로필">
                </div>

                <div class="list-youtuber-content col-9">
                    <div class="list-youtuber-name"> {{ youtuber.name }}</div>
                    <div class="list-youtuber-dsc"> {{ youtuber.description }} </div>
                    <div class="list-youtuber-tags"> #{{ youtuber.tag.all|join:" #" }}</div>
                </div>
            </div>
        </a>
        {% endfor %}
        



    </div>
    {% endfor %}
</div>


</div>

{% endblock content %}